# Dependencies
/vendor/

# Environment
.env

# Storage
/storage/cache/*
/storage/logs/*
/storage/sessions/*
!/storage/cache/.gitkeep
!/storage/logs/.gitkeep
!/storage/sessions/.gitkeep

# Uploads
/public/uploads/*
!/public/uploads/.gitkeep

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Composer
composer.lock
